*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrap1{
    width: 100%;
    height: 100vh;
    background-image: url('img/01_01.png');
    background-position: center;
    background-size: cover;
}
.wrap2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.fr_set{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
   
}
.fr01{
    width: 22.5%;
    height: 428px;
    position: relative;
    top: 105px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.fr02{
    width: 40.5%;
    height: 114px;
    position: relative;
    top: 195px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.fr03{
    width: 55%;
    height: 50px;
    position: relative;
    top: 357px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*--sub01--*/
.s_b00{}
.s_b01{}
.s_b02{}
.s_b03{}
.s_b04{}
.s_ft{}

.fr03{
    width: 55%;
    height: 50px;
    position: relative;
    top: 357px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}